.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin-left: 150px;
    margin-top: 200px;
}

.blue {
    background-color: blue;
    width: 200px;
    height: 200px;
}

.black {
    background-color: black;
    width: 200px;
    height: 200px;
}

.red {
    background-color: red;
    width: 200px;
    height: 200px;
}

.green {
    background-color: green;
    width: 200px;
    height: 200px;
}

header {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 250px;
}

a {
    text-decoration: none;
    color: black;
}

.containereen {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 1200px;
    margin-left: 150px;
    margin-top: 200px;
}